<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 offset-4">
      <mat-card class="login-card">
        <mat-card-header class="card-header">
          <mat-card-title>Create New User</mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">

          <mat-form-field appearance="outline">
            <mat-icon matSuffix>home</mat-icon>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password" [(ngModel)]="confirmPass" type="password" name="password"
              required>
          </mat-form-field>

          <div>
            <input style="margin-right: 10px;" type="checkbox" [(ngModel)]="isAdmin">
            <label>Is Admin</label>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <div class="row">
            <div class="col-md-4">
              <button class="actions" mat-raised-button color="primary" (click)="submit()">Submit</button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <button class="login" mat-stroked-button (click)="login()">login</button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
